.global-container{
    background-color: #21242D;
    height: 99.9vh;
}
.first-container{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    height: 75vh;
    width: 99vw;
}
.h1{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #21242D;
    justify-content: space-between;
}
.first-form-div{
    width: 30vw;
}
.second-form-div{
    width: 35vw;
}
.third-form-div{
    width: 30vw;
}
.image-shown{
    max-width: 70%;
    max-height: 200px;
    width: auto;
    height: auto;
    margin-left: 5%;
    margin-bottom: 2%;
}
.ok-val{
    font-size: 14px; 
    padding: 6px 12px; 
    margin-bottom: 20px;
    border-radius: 0.5rem;
    font-weight: 600;
    border: 1px;
    height: 60px;
    background-color: #00B9AE;
    cursor: pointer;
    margin-left: 45%;
    margin-bottom: 0.5%;
    margin-top: -1%;
}
.not-ok{
    text-align: center;
    color: rgb(161, 37, 37);
    margin-top: 1%;
}
.input-divs{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}
.description{
    height: 130px;
    width: 100%;
}
.wrong{
    background-color: rgb(207, 123, 123);
}
.checkbox-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5%;
}
.generos-margin{
    margin-left: 5%;
}

.uploadButton {
    font-size: 14px; 
    padding: 6px 12px; 
    margin-top: -19px;
    margin-bottom: 20px;
    border-radius: 0.5rem;
    font-weight: 600;
    border: 1px;
    background-color: #00B9AE;
    cursor: pointer;
}
.spacing{
    margin-bottom: 5%;
}
.post-logo{
    width: 70px;
    height: 70px;
}
.dashboardButton{
    font-size: 14px; 
    padding: 6px 12px; 
    border-radius: 0.5rem;
    font-weight: 600;
    border: 1px;
    height: 55px;
    background-color: #00B9AE;
    cursor: pointer;
    margin-top: 1%;
}