.global-container{
    background-color: rgb(20, 44, 88);
    height: 97vh;
}
.first-container{
    display: flex;
    flex-direction: row;
    color: aliceblue;
    height: 75vh;
    width: 99vw;
}
.h1{
    text-align: center;
    background-color: rgb(20, 44, 88);
    margin-top: 0%;
}
.first-form-div{
    width: 30vw;
}
.second-form-div{
    width: 35vw;
}
.third-form-div{
    width: 30vw;
}
.image-shown{
    max-width: 90%;
    max-height: 300px;
    margin-left: 5%;
}
.ok-val{
    background-color: rgb(67, 92, 138);
    margin-left: 45%;
    color: aliceblue;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 0.5%;
}
.not-ok{
    text-align: center;
    color: rgb(161, 37, 37);
}
.input-divs{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}
.description{
    height: 130px;
    width: 100%;
}
.wrong{
    background-color: rgb(207, 123, 123);
}
.checkbox-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 5%;
}
.generos-margin{
    margin-left: 5%;
}