.main {
    color: #f3f3f3;
    background-color: #21242D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 26rem;
    border-radius: 15px;
    padding-bottom: 2rem;
}
form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 1rem;
}
form input {
    border-radius: 5px;
    height: 1.2rem;
    width: 18rem;
    border: 1px;
}
.main p {
    padding: 0 2rem;
    text-align: center;
    margin: 0;
}
form button {
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 10rem;
    margin-top: 5px;
    align-self: center;
    font-weight: 600;
    border: 1px;
    background-color: #00B9AE;
}