.home {
    display: flex;
    flex-direction: row;
}
.header {
    display: grid;
    align-items: center;
    background-color: #21242D;
    width: 101%;
    padding: 1rem;
    justify-content: center;
}